* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #cccccc;
}

header {
  background-color: #120323;
}

nav {
  background-color: #d9043d;
}

footer {
  background-color: #d9043d;
}

h1 {
  color: #97bf04;
}

#gallery-container img {
  border-bottom: 10px solid #97bf04;
}