* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #cccccc;
}

header {
  background-color: #120323;
  /* width: 100%; */
}

nav {
  background-color: #d9043d;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  list-style: none;
}

nav li {
  padding: 1.5em;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

footer {
  background-color: #d9043d;
}

h1 {
  color: #97bf04;
  margin: 0 0 0.5em 0;
}

h2 {
  text-align: center;
  padding: 1em 0 1.5em 0;
}

.header-container {
  text-align: center;
}

.header-container img {
  margin: 1em 0 1em 0;
}

#gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.5em;
  margin: 0 3em 0 3em;
}

#gallery-container img {
  border-bottom: 10px solid #97bf04;
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

#gallery-container figure {
  padding: 1.5em;
  background-color: white;
  max-width: fit-content;
}

h3 {
  padding: 1em 0 1em 0;
}

#gallery-container figure:last-child {
  grid-column: span 2;
}